<section class="mt-30">
  <!-- Search Filter -->
  <div class="filter">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row" fxLayoutGap="80px">
        <mat-form-field fxFlex class="full-width">
          <mat-label>movie name</mat-label>
          <input matInput placeholder="Search for a movie ..." formControlName="title" name="title"  />
          <mat-error *ngIf="submitted && searchForm.controls.title.errors">
            <span *ngIf="searchForm.controls.title.errors.required"> Please enter movie name </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex class="full-width">
          <mat-label>Year</mat-label>
          <input matInput placeholder="filter by year ..." formControlName="year" name="year" />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <div class="mr-10" fxFlex="64px">
          <button type="button" mat-raised-button color="accent" (click)="clear()">
            Clear
          </button>
        </div>
        <div class="mr-10" fxFlex="64px">
          <button type="submit" mat-raised-button color="primary">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="!movies?.length > 0">
    <h1  fxLayoutAlign="center center">Sorry ... No Movies found in this name !!!</h1>
    <h1  fxLayoutAlign="center center">
      Try again
      <mat-icon>sentiment_very_satisfied</mat-icon>
    </h1>
  </div>

  <!-- Movie cards -->
  <div class="search-result-container">
    <div class="search-result--item" *ngFor="let movie of movies">
      <div (click)="onMovieClick(movie.imdbID)">
        <img [src]="movie.Poster=== 'N/A' ? 'assets/placeholder-image.png': movie.Poster" />
        <div class="fs-16 title" [matTooltip]="movie.Title"><b>Title:</b> {{movie.Title}}</div>
        <div class="fs-16 year"><b>Year:</b> {{movie.Year}}</div>
        <div class="fs-16 type"><b>Type:</b> {{movie.Type}}</div>
      </div>
    </div>
  </div>

  <mat-paginator (page)="pageChange($event)" [pageSizeOptions]="pageSizeOptions" [length]="totalResults"
    showFirstLastButtons></mat-paginator>


</section>
