.filter {
  padding: 17px;
  margin: 37px;
  background-color: rgb(248, 248, 248);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}

.search-result-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.search-result--item {
  cursor: pointer;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  padding: 10px;
}
.search-result--item img {
  width: 200px;
  height: 280px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.search-result--item div {
  max-width: 200px;
}

.search-result-error {
  color: red;
  font-size: 26px;
}
